* {
    box-sizing: border-box;

}

body {
    font-family: "Kode Mono", monospace;
}

header {
    background-color: #BBB;
    padding: 20px 0;
}

main {
    width: auto;
    padding: 5px;
    margin: 0 auto;
    background: red;
}

.encriptar-desencriptar-copiar {
    width: auto;
    background: white;
    display: flex;
    
}

ul {
    display: inline-block;
}

.encripto {
    width: 60%;

}

.copio {
    width: 30%
}

.ingresa_datos {
    display: block;
    margin: 0 0 20px;
    width: 300px;
    height: 100px;

}

.copiar_datos {
    display: block;
}


